header {
    background-color: $clr-white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 125px;
    padding: 1.2em 0;
    gap: 3em;
    z-index: 1000;

    .logo {

        width: 125px;
        min-width: 100px;
        border-right: 1px solid $clr-lightGrey;
        padding-right: 25px;
    }

    .header__main {
        display: flex;
        flex-direction: column;

        font-size: 23px;


        .header__info {
            color: $clr-brand;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 3em;
            a {
                color: $clr-black;
            }

        }

        nav{
            display: flex;
            flex-direction: row;

            ul {
                li {
                display: inline-block;
                padding: 0 .8em;
                    a {
                        color: $clr-black;
                    }
                }
            }
        }
    }
}