@font-face {
    font-family: "Adorable";
    src: url("../../fonts/Adorable.ttf.eot") ;
  }
  
  @font-face {
    font-family: "Allegro";
    src: url("../../fonts/ALLEGRO.TTF") format('truetype');
  }
  
  @font-face {
      font-family: "Angelina";
      src: url("../../fonts/Angelina.ttf.eot");
    }
  
    @font-face {
      font-family: "BrockScript";
      src: url("../../fonts/BrockScript.ttf") format('truetype');
    }
    @font-face {
      font-family: "Brush Script MT";
      src: url("../../fonts/BRUSHSCI.ttf") format('truetype');
    }
    @font-face {
      font-family: "Jewel Hill";
      src: url("../../fonts/JewelHill.ttf") format('truetype');
    }
    @font-face {
      font-family: "MA Sexy";
      src: url("../../fonts/MASexy.ttf") format('truetype');
    }
    @font-face {
      font-family: "Wild Ride";
      src: url("../../fonts/WildRide.ttf") format('truetype');
    }
  
  /* @font-face {
      font-family: "CustomFont";
      src: url("https://yoursite.com/css/fonts/CustomFont.eot");
      src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
      url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
      url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
      } */