@font-face {
    font-family: 'allisonregular';
    src: url('https://cielciel2x.github.io/koxemac/fonts/allison-regular-webfont.woff2') format('woff2'),
         url('https://cielciel2x.github.io/koxemac/fonts/allison-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neue_probold';
    src: url('https://cielciel2x.github.io/koxemac/fonts/bebasneuepro-bold-webfont.woff2') format('woff2'),
         url('https://cielciel2x.github.io/koxemac/fonts/bebasneuepro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brock_scriptregular';
    src: url('https://cielciel2x.github.io/koxemac/fonts/brockscript-webfont.woff2') format('woff2'),
         url('https://cielciel2x.github.io/koxemac/fonts/brockscript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'jewel_hillregular';
    src: url('https://cielciel2x.github.io/koxemac/fonts/jewelhill-webfont.woff2') format('woff2'),
         url('https://cielciel2x.github.io/koxemac/fonts/jewelhill-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ma_sexyregular';
    src: url('https://cielciel2x.github.io/koxemac/fonts/masexy-webfont.woff2') format('woff2'),
         url('https://cielciel2x.github.io/koxemac/fonts/masexy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'wildRide';
    src: url('https://cielciel2x.github.io/koxemac/fonts/wildride-webfont.woff2') format('woff2'),
         url('https://cielciel2x.github.io/koxemac/fonts/wildride-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}