body {
  background-color: #E6ECF7;
  box-sizing: border-box;
}
#canvas {
  border: 1px solid red;
}

#container {
  border: 1px solid red;
  height: 50vh;
}

h1 {
  font-family: "bebas_neue_probold";
}

input[type="text"],
input[type="number"],
select {
  width: 80%;
}


.tag-creator__container {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 3em;
  max-width: 800px;
  height: 100%;
  border-right: 1px solid black;
  padding-right: 5em;

  border: 1px solid red;

}

.design-app {
  display: flex;
  align-items: center;
  gap: 3em;
  justify-content: space-around;
  padding: 0 5em;
}

.tag-creator__section {
  display: flex;
  flex-direction: column;
  
}

.canvas-container {
  display: flex;
  width: 50%;
  height: 80%;
  justify-content: center;
}