.product__title {
    text-align: center;
    background-color: $clr-black;
    color: $clr-white;
}

.product__item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3em;
    align-items: center;
    justify-content: center;
    gap: 1.2em;
    margin-bottom: 1.3em;

    .product__text-container {
        width: 80vw;

        .product__subtitle {
            font-weight: 800;
            font-size: 1.3em;
            font-style: italic;
        }

    }
    
    .carousel {
        position: relative;
        width: 80vw;
        overflow: hidden;

        .item {
            object-fit: cover;

            img {
                object-fit: cover;
            }
        }
    }
}

.button__product-catalog {
    display: inline-block;
    margin: .4em;
    padding: 5px 30px;
    border: .1px solid $clr-lightGrey;
    border-radius: 15px;
    color: $clr-black;
    z-index: 1;
    position: relative;
    font-weight: 600;
    font-size: 17px;
    transition: all 250ms;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 15px;
      background-color: #212121;
      z-index: -1;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      transition: all 550ms
     }
     &:hover {
      color: #e8e8e8;
     }
  
     &:hover::before {
      width: 100%;
     }
  
     &:focus {
      background: $clr-black;
      color: $clr-white;
    }
  
    &:active {
      background: $clr-black;
      color: $clr-white;
    }
  
    &:target {
      background: $clr-black;
      color: $clr-white;
    }
   }
   
  



.catalog-button__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.product-button__container {
    display: flex;
    flex-direction: column;
    @media (min-width: 800px) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
    }

}

   .close-button__pushbar {
       font-weight: 600;
       display: block;
     margin: 50px auto;
     text-align: right;
   }


.mobile-catalog__button {
    display: unset;
    text-align: center;
    background: $clr-brand;
    color: $clr-white;
    position: fixed;
    bottom: 50px;
    z-index: 5;
}

